ADuCM3029/Examples_Drivers/LIS3DHH/Debug/
NRF52/Examples/examples/Drivers/SCD30/pca10040/s132/ses/Output/
NRF52/Examples/examples/Drivers/AMBIMATE_MS4/pca10040/s132/ses/Output/
NRF52/Examples/examples/Drivers/PCF8523/pca10040/s132/ses/Output/Debug/
NRF52/Examples/examples/Drivers/MicroForce_FMA/pca10040/s132/ses/Output/
*.jlink
STM32L072CZ/Examples/Drivers/BH1790GLC/.settings/
STM32L072CZ/Examples/Drivers/BH1790GLC/Debug/
STM32L072CZ/Examples/Peripherals/IWDG/Debug/
*.launch
STM32L072CZ/Examples/Peripherals/IWDG/.settings/
ADuCM3029/Examples_Drivers/AHT20/Debug/
